html {
    margin:0;
    padding:0;  
}

body {
    background-color: #111; /* Cor de fundo quase preta */
    color: #fff; /* Cor do texto branco */
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh; /* Altura total da tela */
    margin: 0; /* Remove margens padrão */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 600px; /* Largura máxima do conteúdo */
    padding: 20px; /* Espaçamento interno */
}
.welcome-text {
    font-size: 24px;
    margin-bottom: 20px; /* Margem abaixo do texto */
}
.teletransporte-button {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 18px;
    background-color: #444; /* Cor de fundo cinza */
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor */
}
.teletransporte-button:hover {
    background-color: #666; /* Cor de fundo cinza mais escura no hover */
}
/* Espaçamento entre o parágrafo e o botão */
p {
    margin-bottom: 20px;
}
